Source: com.github.horaciodrs.tradesim
Section: x11
Priority: extra
Maintainer: Horacio Daniel Ros <horaciodrs@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libgtk-3-dev,
               libgranite-dev,
               libsqlite3-dev,
               valac (>= 0.40.0)
Standards-Version: 3.9.3

Package: com.github.horaciodrs.tradesim
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: TradeSim - The Linux Trading Simulator
 This is a trading simulator for Linux.
